@Master['master.html']

@Section['Content']
    <form method="post">
       <fieldset>
           <legend>Heater</legend>
           <p>
               <label id="status-label" for="status">Power switch</label>
               <input type="checkbox" id="status" />
           </p>
           <p>
               <label id="level-label" for="status">Level</label>
               <input type="text" id="level" />
           </p>
           <p>
               <input type="submit" value="Validate" />
           </p>
       </fieldset>
    </form>
@EndSection